* {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    box-sizing: border-box;
}

body {
  background-image: url("https://wallpaperscraft.com/image/gradient_texture_cubes_light_105390_3840x2400.jpg");
}


.searchButton {
    margin-bottom: 60px;
    background-color: #ffffff;
    border: none;
    color: #bd8650;
    padding: 10px;
    width: 330px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: #bd8650;
    border: none;
    padding: 10px;
    width: 330px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 40px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #bd8650;
    color: #ffffff;
}

.searchButton:hover, .searchButton:focus {
    background-color: #bd8650;
    color: #ffffff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 330px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: bold;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #9a9a9a}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#map {
    float: center;
}


h1 {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    font-style: bold;
    margin-top: 80px;
    letter-spacing: 2px;
}


h2 {
    color: #ffffff;
    text-align: center;
    font-size: 19px;
    font-style: bold;
    letter-spacing: 1px;
    padding-top: 2px;
}


h6 {
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
    line-height: 0px;
    letter-spacing: 1px;
}

p {
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    margin-top: 30px;
    letter-spacing: 1px;
}


.pushinfo {
    color: #ffffff;
    font-size: 15px;
}


.js-start {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mapinfo {
    background-color: #bd8650;
    float: right;
    color: #ffffff;
    padding: 25px;
}
.clearfix {
    clear:both
}

.js_gallery_name {
    margin-left: 0px;
    text-align: left;
    font-size: 20px
}

.js_gallery_address {
    margin-top: 15px;
    text-align: left;
    font-style: normal;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 15px;
}
